.widget {
  display: flex;
  flex-direction: column;
  gap: calc(var(--ring-unit) * 2);
  margin: calc(var(--ring-unit) / 2);
}

.config-and-test-panel {
  display: flex;
  flex-direction: row;
  gap: calc(var(--ring-unit) * 2);
}

.config-left-panel {
  display: flex;
  flex-direction: column;
  gap: calc(var(--ring-unit) * 2);
}

.config-replacements-panel {
  display: flex;
  flex-direction: column;
  gap: calc(var(--ring-unit) * 2);
}

.config-replacement-input-panel {
  display: flex;
  flex-direction: row;
  gap: calc(var(--ring-unit) * 1.5);
  max-width: 600px;
  border-bottom: 1px solid var(--ring-line-color);
  padding-bottom: calc(var(--ring-unit) * 1.5);
}
.config-replacement-add-panel {
  display: flex;
  flex-direction: row;
  gap: calc(var(--ring-unit) * 1.5);
  max-width: 600px;
  padding-bottom: calc(var(--ring-unit) * 1.5);
}

.config-replacement-input {
  display: flex;
  flex-direction: column;
  gap: calc(var(--ring-unit) / 2);
  align-items: flex-start;
}

.config-replacement-input-controls {
  display: flex;
  flex-direction: column;
  gap: calc(var(--ring-unit) / 2);
  margin-left: auto;
}

.config-right-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--ring-unit);
  margin-left: auto;
  padding-left: calc(var(--ring-unit));
  border-left: 1px solid var(--ring-line-color);
}

.config-test-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--ring-unit);
}

.warning-color {
  color: var(--ring-warning-color);
}

.config-recursive-replacement-warning {
  display: flex;
  align-items: baseline;
  gap: calc(var(--ring-unit) / 2);
  max-width: 350px;
}

.data-row {
  border-bottom: 1px solid var(--ring-line-color);
  padding: var(--ring-unit) 0;
}

.add-row {
  padding-top: var(--ring-unit);
}

.config-input {
  padding-top: var(--ring-unit)
}

.config-pattern-regex-group {
  display: flex;
  align-items: end;
  padding-top: var(--ring-unit);
  gap: calc(var(--ring-unit) / 2);
}

.config-regex-toggle {
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.delete-col {
  text-align: center;
}
