.widget {
  display: flex;
  flex-direction: column;
  gap: calc(var(--ring-unit) * 2);
  margin: calc(var(--ring-unit) / 2);
}

.config-and-test-panel {
  display: flex;
  flex-direction: row;
  gap: calc(var(--ring-unit) * 2);
}

.config-replacements-panel {
  display: flex;
}

.config-test-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--ring-unit);
}

.data-row {
  border-bottom: 1px solid var(--ring-line-color);
  padding: var(--ring-unit) 0;
}

.add-row {
  padding-top: var(--ring-unit);
}

.config-input {
  padding-top: var(--ring-unit)
}

.config-pattern-regex-group {
  display: flex;
  align-items: end;
  padding-top: var(--ring-unit);
  gap: calc(var(--ring-unit) / 2);
}

.config-regex-toggle {
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.delete-col {
  text-align: center;
}
